body {
	padding: 4em;
	font: 13px "Monaco", Inconsolata, monospace;
	background: rgb(25,25,25);
	color: #f8f8f8;
}

@media screen and (max-width: 800px) {
	body {
		padding: 1em;
		font: 20px "Monaco", Inconsolata, monospace;
	}
}

.dollar:before {
	content: '$';
	color: #52a563;
}